<!DOCTYPE html>
<html>
<head>
	<title>WeatherWatch</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/">
	<link rel="stylesheet" type="text/css" href="/main.css">
	
</head>
<body>
	
		
 	<div id="mySidebar" class="sidebar">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="/">Current Forecast</a>
	  <a href="/detailedlanding">Detailed Forecast</a>
	  <a href="/fivedaylanding">5-Day Forecast</a>
	  
	</div>

	<div id="main">
	  <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
	
	 
	</div>
	
		<h1>
				5-Day Forecast
		</h1>
	
	
	<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class=" h-100  justify-content-center">
                <div>
						<div class="form-group">
							<form method='POST' action='/fivedayforecast'id='forecast-form'>
								<div class="col text-center">
									<div class="form-row justify-content-center">
										<input type="text" class="form-control"name='city' placeholder="Enter City">
									</div>	
								</div>
								<div class="col text-center">
									<div class="form-row justify-content-center">
										<input type="text" class="form-control"name='state' placeholder="Enter State">
									</div>	
								</div>
								<div class="col text-center">
									<button type="submit" class="btn btn-dark">Get Forecast</button>
								</div>	
							</form>
						</div>
                </div>
            </div>
        </div>
    </div>
</div>
	
	
	
	
	
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">			</script>
	<script type="text/javascript" src='/sidebar.js'></script>
</body>
</html>